.product-slider-wrapper {
    background-color: #ffffff;
    padding: 20px 0;
    overflow: hidden;
}

.myProductSlider {
    width: 100%;
    height: 70vh;
}

.myProductSlider .swiper-wrapper {
    align-items: center;
}

.myProductSlider .swiper-slide {
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    height: 100%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 5;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 50px;
    text-align: center;
}

.slide-text-content {
    opacity: 0;
    max-width: 80%;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.myProductSlider .swiper-slide:not(.swiper-slide-active) .slide-overlay {
    background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.3), rgba(0,0,0,0.5));
}

.slide-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.slide-subtitle {
    font-size: 16px;
    color: rgba(189, 189, 189, 1);
}
