.product-grid {
  display: grid;

/* grid-template-columns: repeat(
  auto-fit,
  minmax(clamp(180px, 25vw, 295px), 1fr)
);  */


gap: 16px;

  max-width: 1400px;
  /* width: 100%; */

  margin: 0 auto 40px;
  align-items: stretch;
}


.product-grid.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

/* =========================
   LISTING PAGE → 3 CARDS
========================= */

.product-grid.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* ---------- PRODUCT CARD ---------- */

.product-card_ifp {
  background: #fff;

  border-radius: 12px;

  overflow: hidden;
  /* height: 100%; */
  width: 100%; /* FIX */

  /* max-width: 295px;  */

  /* box-shadow: 0 2px 12px rgba(0, 0, 0, 0.07); */

  /* transition:
    transform 0.35s ease,
    box-shadow 0.35s ease; */

  display: flex;
  flex-direction: column;
  /* important */
  /* max-height: 516px; */
}
.product-card_ifp:hover .btn-view {
  background: #334881;
}

/* ---------- IMAGE WRAPPER ---------- */
/* 
.abstract-art {
  position: relative;

  width: 179px;
  overflow: hidden;
  width: 100%;

  aspect-ratio:279 / 290;
  background: #f8f8f8;
} */


.abstract-art {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 279 / 290;
  background: #f8f8f8;
}

/* ---------- IMAGE SLIDE EFFECT ---------- */

.abstract-art .img-default,
.abstract-art .img-hover {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  transition: transform 0.5s ease;
}

.abstract-art .img-default {
  transform: translateX(0);
}

/* .product-card_ifp:hover .img-default {
  transform: translateX(-100%);
} */

.abstract-art .img-hover {
  transform: translateX(100%);
}

/* .product-card_ifp:hover .img-hover {
  transform: translateX(0%);
} */

.abstract-art.has-hover:hover .img-default {
  transform: translateX(-100%);
}

.abstract-art.has-hover:hover .img-hover {
  transform: translateX(0);
}

/* ---------- PRODUCT INFO ---------- */

.product-info {
  margin-top: 24px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  /* takes remaining height */
}

.product-name {
  font-family: "Inter", sans-serif;

  font-weight: 500;

  font-size: 16px;
  line-height: 24px;

  color: #131313;
  padding: 0 8px;

  margin-bottom: 6px;
}

.product-spec {
  font-family: "Inter", sans-serif;

  font-weight: 400;

  font-size: 13px;
  line-height: 18px;
  padding: 0 8px;

  color: var(--Colors-Neutral-400, rgba(76, 76, 76, 1));

  margin-bottom: 8px;
  /* margin-top: auto; */
}

/* ---------- BUTTON ---------- */

.btn-view {
  width: 100%;
  min-height: 44px;

  border: none;
  border-radius: 8px;

  background: #001654;
  color: #fff;

  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
  margin-top: auto;
  transition:
    background 0.3s ease,
    transform 0.2s ease;
}


/* Desktop & Laptop */


/* @media (max-width: 1310px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);

    gap: 16px;
    height: auto;
    width: 100%;
    max-width: 1400px;

    margin: 0 auto 40px;
  }

  .product-info {
    margin-top: 24px;
  }

  .btn-view {
    min-height: 44px;
  }
} */

@media (max-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);

    gap: 16px;
    height: auto;
    width: 100%;
    max-width: 1200px;

    margin: 0 auto 40px;
  }

  .product-info {
    margin-top: 15px;
  }

  .btn-view {
    min-height: 30px;
  }
}


/* Tablet */
@media (max-width: 991px) {
  .product-grid.grid-4,
  .product-grid.grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }



}

/* Mobile */
@media (max-width: 576px) {
  .product-grid.grid-4,
  .product-grid.grid-3 {
    grid-template-columns: 1fr;
  }
}
