

.scroll-section {
  position: relative;
  background-color: #f0f0ec;
  /* IMPORTANT */
  height: 500vh;

  /* background: transparent; */
}

.sticky-canvas {
  position: sticky;
  top: 0;

  width: 100%;
  height: 100vh;

  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-canvas {
  width: 100%;
  height: 100%;

  display: block;

  will-change: transform;
}